<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="normalizer.css">
    <link rel="stylesheet" href="style.css">

</head>

<body ng-app="app"
>
    <nav id="menu">
        <input type="text" ng-model="busca">
        Voce está procurando : {{busca}}
    </nav>
    <section id="albuns" ng-controller="AlbunsController">
        <h2>Albúns</h2>

        <article ng-repeat="album in albuns">
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: {{album.nome}}</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>

    </section>
    <hr>
    <section id="fotos">
        <h2>Fotos</h2>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">Album: Família</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="fechar">x</a>
        </article>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="main.js"></script>

</body>

</html>