#albuns .artigo-album {
    width: 265px;
    height: 60px;
    background-color: #cccccc;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    position: relative;
}

#albuns .artigo-album:hover{
    background-color: #a3a3a3;
    cursor: pointer;
}

#albuns .artigo-album .foto{
    margin-right: 5px;
    /*width: 40px;*/
    float: left;
    object-fit: cover;
    width: 40px;
    height: 51px;
}

#albuns, section#tags  {
    overflow: hidden;
}


#albuns .titulo{
    top: 6px;
}

#albuns .nomeDoAlbum{
    width: 200px;
    float: left;
}

#albuns .novo-album{
    float: left;
    margin-left: 5px;
}
#albuns .form-group {
    height: 40px;
}

#albuns .descricaoAlbum{
    /*outline: solid 1px;*/
    overflow: hidden;
    /*outline: solid 1px rgba(187, 187, 187, 0.589);*/
    overflow: hidden;
    width: 145px;
    height: 40px;
    /*background-color: rgb(207, 207, 207);*/
    float: left;
    margin-top: 1px;
}
#albuns .descricaoAlbum .titulo{
    color: #000000;
    display: inline-block;
    white-space: nowrap;
}
#albuns .descricaoAlbum .quantidade{
    color: #000000;
    display: inline-block;
    white-space: nowrap;
}
