
body{
background-color: azure;

}

#menu{
    background-color: cornflowerblue;
    height: 90px;

}
#corpo{
    background-color: rgba(146, 199, 230, 0.801);

}

article{
 width: 200px;
 height: 50px;
 outline: solid 1 px gray;
 overflow: hidden;
 margin: 10px;
 float: left;
 padding: 5px;

}
