body{
    background-color: white;
}
#menu {
    background-color: rgb(73, 8, 116);
    height: 50px;
    color: white;
}
#albuns {
    
}

article {
    width: 200px;
    height: 41px;
    outline: solid 1px gray;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    position: relative;
    background-color: #bfbfbf47;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    position: absolute;
    color: #006DAC;
    font-weight: bold;
}
.quantidade{
    position: absolute;
    color: rgb(94, 88, 88);
    top: 24px;
}
article img{
    margin-right: 5px;
}
