<section id="tags">
    <h2>Tags</h2>
    <a href="#" class="tag">
        <span>familia</span>
        <span>x</span>
    </a>
    <a href="#" class="tag">
        <span>esporte</span>
        <span>x</span>
    </a>
    <a href="#" class="tag">
        <span>animal</span>
        <span>x</span>
    </a>
    <a href="#" class="tag">
        <span>comida</span>
        <span>x</span>
    </a>
    <a href="#" class="tag">
        <span>gatos</span>
        <span>x</span>
    </a>
    <hr>
</section>