body{
    background-color: white;
    font-family: arial;
}

.artigo-imagem{
    overflow: hidden;
    margin: 10px;
    float: left;
    position: relative;
    /* outline: solid 1px #006DAC; */
    width: 100px;
}

.artigo-album {
    width: 200px;
    height: 41px;
    background-color: #cccccc;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    position: relative;
}

.artigo-album:hover{
    background-color: #a3a3a3;
    cursor: pointer;
}

.artigo-album .foto{
    margin-right: 5px;
    width: 40px;
}

section .titulo{
    color: #006DAC;
    position: absolute;
}

section#albuns, section#fotos, section#tags  {
    overflow: hidden;
}

section#fotos .titulo{
    top: 18px;
}
section#albuns .titulo{
    top: 6px;
}

section .fechar{
    color: gray;
    position: absolute;
    right: 8px;
    top: 1px;
    text-decoration: none;
}

article:hover .fechar{
    display: block;
}

.fechar{
     display: none; 
}

section .fechar img{
    width: 15px;
}

section .quantidade{
    color: #006DAC;
    position: absolute;
    top: 24px;
}

a.tag{
    background-color: gray;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    color: white;
    margin: 8px;
    font-size: 18px;
}



.artigo-imagem .foto{
    width: 100%;
}

article{
    position: relative;
}

/* MENU */

.logo{
    padding: 5px 5px 0px 5px;
}
.buscar{
    border: solid 1px rgb(206, 206, 206);
    border-radius: 10px;
    width: 30%;
    margin: 15px 50px 50px 250px;
    position: absolute;
}
.lupa{
    width:1.5%;
    position: absolute;
    margin: 17px 50px 50px 700px;
}
.add{
    width: 2.5%;
    position: absolute;
    margin: 7px 40px 0px 1150px;
}
.opcoes{
    width: 3%;
    right: 40px;
    top: 5px;
    position: absolute;
}
#menu {
    background-color: rgb(73, 8, 116);
    height: 50px;
    color: white;
}