<section id="imagens">
    <h2>Imagens</h2>
    <div class="form-group">
        <input type="text" class="form-control url" placeholder="url" ng-model="url">
        <button class="nova-imagem btn btn-success" ng-click="salvar()" ng-disabled="!url">Gravar nova imagem</button>
    </div>
    <article ng-repeat="imagem in imagens" class="artigo-imagem" id="imagem_{{imagem.id}}">
        <img class="foto" ng-src="{{imagem.url}}" alt="">
        <a href="javascript:void(0)" class="fechar hide" ng-click="remover(imagem.id)">
            <img src="https://image.flaticon.com/icons/png/512/106/106830.png" alt="">
        </a>
        <a href="javascript:void(0)" class="editar hide" ng-click="editar(imagem)">
            <img src="img/pencil.png" alt="">
        </a>
        <a href="javascript:void(0)" class="add hide " data-toggle="modal"data-target="#modalAlbuns">
            <img src="https://static.thenounproject.com/png/80537-200.png" alt="adicionar">
        </a>
    </article>
    <hr>

    <!-- Modal -->
    <div class="modal fade" id="modalAlbuns" tabindex="-1" role="dialog" aria-labelledby="modalAlbunsLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlbunsLabel">Escolha um Álbum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
               
                    <ul class="lista">
                        <li ng-repeat="album in albuns" class="album">
                            <div class="wrapper-imagem">
                                <img class="album-imagem" ng-if="album.imagens[0].url" src="{{album.imagens[0].url}}" height="60px" alt="">
                                <img class="album-imagem" ng-if="!album.imagens[0].url" src="https://media.tenor.com/images/36e2f86ffaa3d8140a6ea33d864e3914/tenor.gif" height="60px" alt="">
                            </div>  
                            <div class="album-detalhes">
                                <span class="nome">{{album.nome}}</span> 
                                
                                <span class="quantidade" ng-if="album.imagens.length<=1">{{album.imagens.length}} item</span> 
                                <span class="quantidade" ng-if="album.imagens.length>1">{{album.imagens.length}} itens</span> 
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar Mudanças</button>
                </div>
            </div>
        </div>
    </div>
</section>