body{
    background-color: rgb(105, 12, 105);
}
#menu {
    background-color: rgb(73, 8, 116);
    height: 50px;
    color: rgb(52, 114, 52);
}

article {
    position:relative;
    width: 200px;
    height: 50px;
    outline: solid 1px gray;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;

}


.titulo {
    color: red;
    position: absolute;
}

.quantidade {
    color: green;
    top: -8px;

}

.x {

}


