<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    
</head>

<bod0 ng-app="app">
    <nav id="menu">
        <input type="text" ng-model="busca"/>
        Você está procurando: {{busca}}
        <button id="adicionar">Novo Album</button>
    </nav>
    <section id="albuns" ng-controller="AlbunsController">
        <h2>Albuns</h2>
        <article ng-repeat="album in albuns">
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="titulo">{{album.nome}}</span>
            <span class="quantidade">Fotos: 35</span>
            <a href="#" class="x">X</a>
        </article>
        
    </section>
    <hr>
    <section id="fotos">
        <h2>Fotos</h2>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>

        </article>
        <article>
            <img src="https://via.placeholder.com/40x40" alt="">
            <span class="imgNome">IMG 1</span>
            <a href="#" class="x">X</a>
        </article>
    </section>
    <hr>
    <section id="tags">
        <h3>Tags</h3>
        <div class="tags">
            <a href="#">familia</a>
            <a href="#" class="x">X</a>
        </div>
        <div class="tags">
            <a href="#">esporte</a>
            <a href="#" class="x">X</a>
        </div>
        <div class="tags">
            <a href="#">mozão</a>
            <a href="#" class="x">X</a>
        </div>
        <div class="tags">
            <a href="#">mãe</a>
            <a href="#" class="x">X</a>
        </div>
        <div class="tags">
            <a href="#">irmão</a>
            <a href="#" class="x">X</a>
        </div>
        <div class="tags">
            <a href="#">pai</a>
            <a href="#" class="x">X</a>
        </div>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>