body{
    background-color: white;
}
#menu {
    background-color: rgb(73, 8, 116);
    height: 50px;
    color: white;
}
#content {
    
}

article {
    width: 200px;
    height: 41px;
    outline: solid 1px gray;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    position: relative;
}

article img{
    margin-right: 5px;
}

.titulo{
    color: #006DAC;
    position: absolute;
}

.quantidade{
    color: #006DAC;
    position: absolute;
    top: 24px;
}