body{
    background-color: white;
    font-family: arial;
}
#menu {
    background-color: black;
    height: 50px;
    color: white;
}


.artigo-album {
    width: 200px;
    height: 41px;
    background-color: #cccccc;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    position: relative;
}

.artigo-imagem{
    overflow: hidden;
    margin: 10px;
    float: left;
    position: relative;
    width: 100px;
}

.artigo-album:hover{
    background-color: #a3a3a3;
    cursor: pointer;
}

.artigo-album .foto{
    margin-right: 5px;
    width: 40px;
}

section .titulo{
    color: #006DAC;
    position: absolute;
}

section#albuns, section#fotos, section#tags  {
    overflow: hidden;
}

section#fotos .titulo{
    top: 18px;
}
section#albuns .titulo{
    top: 6px;
}

section .fechar{
    color: gray;
    position: absolute;
    right: 8px;
    top: 1px;
    text-decoration: none;
}

article:hover .fechar{
    display: block;
}

.fechar{
     display: none; 
}

section .fechar img{
    width: 15px;
}

section .quantidade{
    color: #006DAC;
    position: absolute;
    top: 24px;
}

a.tag{
    text-decoration: none;
    background-color: rgb(184, 183, 183);
    color:black;
    width: auto;
    height: auto;
    border: solid 1px gray;
    overflow: hidden;
    margin: 10px;
    padding: 3px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

a.tag:hover{
    background-color: rgb(124, 122, 122);
    cursor: pointer; 
}

.artigo-imagem .foto{
    width: 100%;
}

article{
    position: relative;
}

@keyframes abrir{
    0% { }
}