<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="estilo.css">
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        

    </head>

<body  ng-app="app">
    
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html"><img src="https://via.placeholder.com/150x40" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarsExample03">
                  <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#!/imagens">Fotos</a>
                    </li>

                    <li class="nav-item">
                            <a class="nav-link" href="#!/albuns">Albuns</a>
                          </li>
                   
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search">
                  </form>
                </div>
              </nav>
              
        
       <section id="album" ng-controller="AlbunsController">
           <h2>Albuns</h2>
           <article ng-repeat="album in albuns" class="artigo-album" id="album_{{album.id}}">
                <img class="foto" src="{{album.imagens[0].url}}" alt="">
                <span class="titulo">{{album.nome}}</span>
                <span class="quantidade">{{album.imagens.length}} itens</span> 
                <a href="javascript:void(0)" class="fechar" ng-click="remover(imagem.id)"></a>
             </article>
       </section>

          
            
            <br>
            <br>
            <br>
            <br>

      
         <section id="fotos" ng-controller="ImagensController">
                <h2>Fotos</h2>
                <article ng-repeat="imagem in imagens" class="artigo-imagem" id="imagem_{{imagem.id}}">
                <img class="foto" src="{{imagem.url}}" alt="">
                <a href="javascript:void(0)" class="fechar" ng-click="remover(imagem.id)">
                <img src="https://image.flaticon.com/icons/png/512/106/106830.png" alt=""></a>
         </section>
        
            
         <hr>
      
        <section id="tags">
             <h2>Tags</h2>
       <a href="#" class="tag">
               <span>Familia</span>
               <span>x</span>
       </a> 
       <a href="#" class="tag">
               <span>california</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>disney</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>doguinho</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>mae</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>namorado</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>eu</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>naturea</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>portugal</span>
               <span>x</span>
       </a>
       
        </section>
        
        
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        </script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
          <script src="main.js"></script>
          <script src="albuns-controller.js"></script>
          <script src="imagens-controller.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
          <script src="js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    


</body>

</html>
