<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="estilo.css">
        <link rel="stylesheet" href="normalize.css">
    </head>

<body  ng-app="app">
    
    <nav id="menu">
                <input type="text" ng-model="busca" />
                Você está procurando: {{busca}}
    </nav>

        
       <section id="album" ng-controller="AlbunsController">
           <h2>Albuns</h2>
    
            <article ng-repeat="album in albuns">
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="album">{{Albuns.nome}} </span>
                    <span class="quantidade">{{albuns.imagens.length}} itens</span> 
                    <a href="#">x</a>
             </article>
            
       </section>
      
            <hr>

       <section id="fotos">
           <h2>Imagens</h2>
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
            <article>
                    <img src="http://lorempixel.com/40/40/"alt="">
                    <span class="imagem">Data 00/00/000 </span>
                    <a href="#">x</a>
             </article>  
       </section>
        
            <hr>

        <section id="tags">
             <h2>Tags</h2>
       <a href="#" class="tag">
               <span>Familia</span>
               <span>x</span>
       </a> 
       <a href="#" class="tag">
               <span>california</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>disney</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>doguinho</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>mae</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>namorado</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>eu</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>naturea</span>
               <span>x</span>
       </a>
       <a href="#" class="tag">
               <span>portugal</span>
               <span>x</span>
       </a>
       
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="main.js"></script>


</body>

</html>