body{
    background-color: white;
}
#menu {
    background-color: rgb(73, 8, 116);
    height: 50px;
    color: white;
}
#content {
    
}

article {
    background-color: #efefef;
    width: 200px;
    height: 41px;
    overflow: hidden;
    margin: 10px;
    float: left;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    position: relative;
}
.fechar{
    position:absolute;
    right: 8px;
    text-decoration: none;
    top: 2px;
}
section#fotos .titulo{
    position: absolute;
    top: 18px;
}

#albuns {
    overflow: hidden;
}

#fotos {
    overflow: hidden;
}
article img{
    margin-right: 5px;
}

.titulo{
    color: #006DAC;
    position: absolute;
}

.quantidade{
    color: #006DAC;
    position: absolute;
    top: 24px;
}

article:hover{
    background-color: #afa7a7;
    cursor: pointer;
}

a.tag{
    background-color: gray;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    color: white;
    margin: 8px;
    font-size: 18px;
}
.foto{
    width: 50px;
    height: 44px;
}